@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fit 4 Life </h1>
    <h3>Success usually comes to those who are too busy to be looking for it.</h3>
</div>
