@using FitForLife.Common
@{ this.ViewData["Title"] = "Admin Dashboard"; }

<h3>Welcome to Admin Dashboard!</h3>
<p>Here is a quick navigation:</p>
<div>
    <a asp-area="Administration" asp-controller="Classes" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">Classes</a>
    <div class="ml-5 my-2">
        <a class="btn btn-outline-primary btn-sm" asp-area="Administration" asp-controller="Classes" asp-action="AddClass">Add New Class</a>
    </div>
    <a asp-area="Administration" asp-controller="Blogs" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">Blogs</a>
    <div class="ml-5 my-2">
        <a class="btn btn-outline-primary btn-sm" asp-area="Administration" asp-controller="Blogs" asp-action="AddBlog">Add New Blog</a>
    </div>
    <a asp-area="Administration" asp-controller="Trainers" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">Trainers</a>
    <div class="ml-5 my-2">
        <a class="btn btn-outline-primary btn-sm" asp-area="Administration" asp-controller="Trainers" asp-action="AddTrainer">Add New Trainer</a>
    </div>
    <a asp-area="Administration" asp-controller="Events" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">Events</a>
    <div class="ml-5 my-2">
        <a class="btn btn-outline-primary btn-sm" asp-area="Administration" asp-controller="Events" asp-action="AddEvent">Add New Event</a>
    </div>
    <a asp-area="Administration" asp-controller="Cards" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">Cards</a>
    <dvi class="ml-5 my-2">
        <a class="btn btn-outline-primary btn-sm" asp-area="Administration" asp-controller="Classes" asp-action="AddClass">Add New Class</a>
    </dvi>
</div>