@model FitForLife.Web.ViewModels.Events.EventViewModel

<div class="events">
    <div class="event">
        <h4>@Model.Class.Name</h4>
        <p>@Model.StartEvent.ToString("t") - @Model.EndEvent.ToString("t")</p>
        <form asp-action="Details" asp-controller="Appointments" asp-route-id="@Model.Id" method="get">
            <button type="submit" class="btn btn-info rounded-pill text-dark btn-sm border-0">
                Read More
            </button>
        </form>
    </div>
</div>

