@model FitForLife.Web.ViewModels.Events.EventViewModel

<div class="events">
    <div class="event">
        <h4>@Model.Class.Name</h4>
        <p>@Model.StartEvent.ToString("t") - @Model.EndEvent.ToString("t")</p>
        <div class="btn btn-info btn-sm">
            <a asp-controller="Appointments" asp-action="Details" asp-route-id="@Model.Id">Details</a>
        </div>
    </div>
</div>

