@model FitForLife.Web.ViewModels.Classes.AllClassesViewModel

@{
    this.ViewData["Title"] = "Classes of FitForLife Services";
}

<section id="gallery">
    <div class="container mt-lg-5">
        <div class="row">
            @foreach (var classView in Model.Classes)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <img src="@classView.PictureUrl" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@classView.Name</h5>
                            <p class="card-text">@classView.Description</p>
                            <button type="button" class="btn btn-info btn-lg" asp-controller="Classes" asp-action="Details" asp-route-id="@classView.Id">Join Now!</button>
                        </div>
                    </div>
                </div>
            }
            </div>
    </div>
</section>
